<!DOCTYPE html>
<html>

<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
      height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    h3,
    h4 {
      padding: 10px
    }
  </style>
</head>

<body>
  <input type="hidden" id="grid" value="<%= JSON.stringify(grid)%>">
  <div class="row" style="height: 100%;width: 100%">
    <div class="col-lg-8">
      <div id="map"></div>
    </div>
    <div class="col-lg-4">
      <div class="heading">
        <h3>Cloud Computing Project</h3>
      </div>
      <div class="info">
        <p>This is a web application showing the coorelation between the Lusty tweets and rate of sexual crime in the
          city of melbourne.
        </p>
        <h4>Toogles for the map</h4>
        <ul>
          <li>
            <a href="#" onclick="makeLustMap();"> Click to see percentage of lusty tweets</a>
          </li>
          <li>
            <a href="#" onclick="makeSexualOffencesValidationMap();"> Click to see sexual offences crime
              statistics</a>
          </li>
          <li>
            <a href="#" onclick="makeStalkingHarassmentValidationMap();"> Click to see stalking harassment crime
              statistics</a></li>
          <li>
            <a href="#" onclick="resetMap()"> Reset map</a>
          </li>
        </ul>
      </div>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js">
  </script>
  <script>
    // Try edit msg
    var Aurin_data = {
      "type": "FeatureCollection",
      "features": [{
        "type": "Feature",
        "properties": {
          "lga_name11": "MELBOURNE CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 526,
          "lga_code": "24600",
          "a30_sexual_offences": 724,
          "reference_period": "2017",
          "lga_erp": 145815
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f46"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "PORT PHILLIP CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 178,
          "lga_code": "25900",
          "a30_sexual_offences": 245,
          "reference_period": "2017",
          "lga_erp": 110308
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f37"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "STONNINGTON CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 135,
          "lga_code": "26350",
          "a30_sexual_offences": 180,
          "reference_period": "2017",
          "lga_erp": 112907
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f32"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "YARRA CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 187,
          "lga_code": "27350",
          "a30_sexual_offences": 171,
          "reference_period": "2017",
          "lga_erp": 95028
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f25"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "BANYULE CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 246,
          "lga_code": "20660",
          "a30_sexual_offences": 249,
          "reference_period": "2017",
          "lga_erp": 128469
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f6a"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "BAYSIDE CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 98,
          "lga_code": "20910",
          "a30_sexual_offences": 211,
          "reference_period": "2017",
          "lga_erp": 103547
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f67"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "BOROONDARA CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 204,
          "lga_code": "21110",
          "a30_sexual_offences": 188,
          "reference_period": "2017",
          "lga_erp": 179122
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f65"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "BRIMBANK CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 329,
          "lga_code": "21180",
          "a30_sexual_offences": 370,
          "reference_period": "2017",
          "lga_erp": 203260
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f62"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "DAREBIN CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 225,
          "lga_code": "21890",
          "a30_sexual_offences": 257,
          "reference_period": "2017",
          "lga_erp": 156312
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f5a"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "GLEN EIRA CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 144,
          "lga_code": "22310",
          "a30_sexual_offences": 219,
          "reference_period": "2017",
          "lga_erp": 150443
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f21"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "HOBSONS BAY CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 192,
          "lga_code": "23110",
          "a30_sexual_offences": 123,
          "reference_period": "2017",
          "lga_erp": 94434
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f53"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "KINGSTON CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 199,
          "lga_code": "23430",
          "a30_sexual_offences": 275,
          "reference_period": "2017",
          "lga_erp": 158022
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f4f"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "MANNINGHAM CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 106,
          "lga_code": "24210",
          "a30_sexual_offences": 103,
          "reference_period": "2017",
          "lga_erp": 122447
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f4a"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "MARIBYRNONG CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 117,
          "lga_code": "24330",
          "a30_sexual_offences": 130,
          "reference_period": "2017",
          "lga_erp": 87796
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f48"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "MONASH CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 216,
          "lga_code": "24970",
          "a30_sexual_offences": 215,
          "reference_period": "2017",
          "lga_erp": 191837
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f41"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "MOONEE VALLEY CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 167,
          "lga_code": "25060",
          "a30_sexual_offences": 145,
          "reference_period": "2017",
          "lga_erp": 124017
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f40"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "MORELAND CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 258,
          "lga_code": "25250",
          "a30_sexual_offences": 275,
          "reference_period": "2017",
          "lga_erp": 174831
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f3e"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "WHITEHORSE CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 179,
          "lga_code": "26980",
          "a30_sexual_offences": 253,
          "reference_period": "2017",
          "lga_erp": 170254
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f29"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "CASEY CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 650,
          "lga_code": "21610",
          "a30_sexual_offences": 756,
          "reference_period": "2017",
          "lga_erp": 310680
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f5e"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "FRANKSTON CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 336,
          "lga_code": "22170",
          "a30_sexual_offences": 371,
          "reference_period": "2017",
          "lga_erp": 138057
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f58"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "GREATER DANDENONG CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 415,
          "lga_code": "22670",
          "a30_sexual_offences": 443,
          "reference_period": "2017",
          "lga_erp": 158691
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f1e"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "HUME CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 568,
          "lga_code": "23270",
          "a30_sexual_offences": 463,
          "reference_period": "2017",
          "lga_erp": 205594
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f51"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "KNOX CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 197,
          "lga_code": "23670",
          "a30_sexual_offences": 288,
          "reference_period": "2017",
          "lga_erp": 158070
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f4e"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "MAROONDAH CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 207,
          "lga_code": "24410",
          "a30_sexual_offences": 172,
          "reference_period": "2017",
          "lga_erp": 114734
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f47"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "MORNINGTON PENINSULA SHIRE",
          "a70_stalking_harassment__and__threatening_behaviour": 220,
          "lga_code": "25340",
          "a30_sexual_offences": 300,
          "reference_period": "2017",
          "lga_erp": 158210
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f3d"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "NILLUMBIK SHIRE",
          "a70_stalking_harassment__and__threatening_behaviour": 71,
          "lga_code": "25710",
          "a30_sexual_offences": 86,
          "reference_period": "2017",
          "lga_erp": 63084
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f39"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "WHITTLESEA CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 503,
          "lga_code": "27070",
          "a30_sexual_offences": 270,
          "reference_period": "2017",
          "lga_erp": 210500
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f28"
      }, {
        "type": "Feature",
        "properties": {
          "lga_name11": "WYNDHAM CITY",
          "a70_stalking_harassment__and__threatening_behaviour": 369,
          "lga_code": "27260",
          "a30_sexual_offences": 298,
          "reference_period": "2017",
          "lga_erp": 229742
        },
        "id": "lga_vic_crime_stats_2008_2017.fid--38e292b1_16a8bd629c4_-1f26"
      }]
    }
    //-----------------------------------------------------------------------------------------------------------------


    var map;
    var allPoly = [];
    // Get grid from html.
    var grid = document.getElementById("grid").value;
    grid = JSON.parse(grid);
    grid_coordinates = grid.value

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: {
          lat: -37.7891593,
          lng: 144.9726951
        },
        mapTypeId: 'terrain'
      });
    }

    function addPolyOnMap(contentStrings) {
      console.log(map)
      for (let index = 0; index < allPoly.length; index++) {
        allPoly[index].setMap(map);
        infoWindow = new google.maps.InfoWindow();
        google.maps.event.addListener(allPoly[index], "mousemove", function (event) {
          infoWindow.setContent(contentStrings[index]);
          infoWindow.setPosition(event.latLng);
          infoWindow.open(map, allPoly[index]);
        });
        google.maps.event.addListener(allPoly[index], "mouseout", function (event) {
          infoWindow.close(map, allPoly[index]);
        });
        // google.maps.event.addListener(allPoly[index], 'click', function () {
        //   allPoly[index].setMap(null);
        // });
      }
    }

    function perc2color(perc) {
      var r, g, b = 0;
      if (perc < 50) {
        g = 255;
        r = Math.round(5.1 * (perc));
      } else {
        r = 255;
        g = Math.round(510 - 5.10 * perc);
      }
      var h = r * 0x10000 + g * 0x100 + b * 0x1;
      return '#' + ('000000' + h.toString(16)).slice(-6);
    }

    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }

    function makePolygonPaths(coordinates) {
      var polygon = [];
      for (let index = 0; index < coordinates.length; index++) {
        var point = {
          lat: coordinates[index][1],
          lng: coordinates[index][0]
        }
        polygon.push(point);
      }
      return polygon;
    }

    function makeLustMap() {
      resetMap();
      allPoly = [];
      var contents = [];
      for (let index = 0; index < grid_coordinates.length; index++) {
        // get lust index from the couchdb
        //-------------------------------
        var lustIndex = getRandomInt(100);
        // -------------------------------

        contents.push("<h6>" + grid_coordinates[index].properties.vic_lga__2 + "</h6><br />" +
          "<p>LGA Code: " + grid_coordinates[index].properties.lga_pid + "<br />" +
          "LGA Population: " + Aurin_data.features[index].properties.lga_erp + "<br />" +
          "Total Lust tweet Index: " + lustIndex + "<br /></p>");
        // Construct all the polygons.
        allPoly.push(new google.maps.Polygon({
          paths: makePolygonPaths(grid_coordinates[index].geometry.coordinates[0][0]),
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 1,
          fillColor: perc2color(lustIndex),
          fillOpacity: 0.35
        }));
      }
      addPolyOnMap(contents, map);
    }

    function makeSexualOffencesValidationMap() {
      resetMap();
      allPoly = [];
      var contents = [];
      for (let index = 0; index < Aurin_data.features.length; index++) {
        var temp = Aurin_data.features[index].properties;
        var crimeRate = getCrimeRate(temp.a30_sexual_offences, temp.lga_erp)
        crimeRate = (crimeRate / 496) * 100
        contents.push("<h6>LGA name: " + grid_coordinates[index].properties.vic_lga__2 + "</h6><br />" +
          "<p> Test LGA name: " + temp.lga_name11 + "<br />" +
          "LGA Code: " + grid_coordinates[index].properties.lga_pid + "<br />" +
          "Sexual Offences: " + temp.a30_sexual_offences + "<br />" +
          "%%%%%%: " + crimeRate + "<br />" +
          "LGA Population: " + temp.lga_erp + "<br />" +
          "Crime Rate per 100,000: " + crimeRate + "<br /></p>");
        // Construct all the polygons.
        allPoly.push(new google.maps.Polygon({
          paths: makePolygonPaths(grid_coordinates[index].geometry.coordinates[0][0]),
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 1,
          fillColor: perc2color(crimeRate),
          fillOpacity: 0.35
        }));
      }
      addPolyOnMap(contents, map);
    }

    function makeStalkingHarassmentValidationMap() {
      resetMap();
      allPoly = [];
      var contents = [];
      for (let index = 0; index < Aurin_data.features.length; index++) {
        var temp = Aurin_data.features[index].properties;

        var crimeRate = getCrimeRate(temp.a70_stalking_harassment__and__threatening_behaviour, temp.lga_erp)
        crimeRate = (crimeRate / 360) * 100
        contents.push("<h6>LGA name: " + grid_coordinates[index].properties.vic_lga__2 + "</h6><br />" +
            "<p> Test LGA name: " + Aurin_data.features[index].properties.lga_name11 + "<br />" +
            "LGA Code: " + grid_coordinates[index].properties.lga_pid + "<br />" +
            "Stalking & Harassment Offences: " + temp.a70_stalking_harassment__and__threatening_behaviour + "<br />" +
            "%%%%%%: " + crimeRate + "<br />" +
          "LGA Population: " + temp.lga_erp + "<br />" +
          "Crime Rate per 100,000: " + crimeRate + "<br /></p>");
      // Construct all the polygons.
      allPoly.push(new google.maps.Polygon({
        paths: makePolygonPaths(grid_coordinates[index].geometry.coordinates[0][0]),
        strokeColor: '#FF0000',
        strokeOpacity: 0.8,
        strokeWeight: 1,
        fillColor: perc2color(crimeRate),
        fillOpacity: 0.35
      }));
    }
    addPolyOnMap(contents, map);
    }

    function resetMap() {
      for (let index = 0; index < allPoly.length; index++) {
        allPoly[index].setMap(null);
      }
    }

    function getCrimeRate(crimes, population) {
      var val = ((crimes / population) * 100000);
      return Math.trunc(val)
    }

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
          label: '# of Votes',
          data: [12, 19, 3, 5, 2, 3],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDe6kgK2e3MtEcZ7OuOR_R4eQaaj2nLN5c&callback=initMap"
    async defer></script>
</body>

</html>